@page
@model NSFWpics.Pages.AdminPanelModel
@{
    ViewData["Title"] = "AdminPanel";
}

<h2>AdminPanel</h2>
<form method="post" class="container" asp-action="OnPostLogin">
    <label asp-for="@Model.Login">@Model.Login</label>
    <input type="text" asp-for="@Model.Login" id="login" />

    <label asp-for="@Model.Password">@Model.Password</label>
    <input type="password" required asp-for="@Model.Password" />

    <input type="submit" asp-page-handler="login" name="submit" />
</form>
<br /><br /><br />