@page  "{id:int?}"
@model IndexModel
@using System.IO;
@{
    ViewData["Title"] = "Home page";
}
<div id="app">
    <br />
    <div class="row ">
        <ul class="pagination center-align ">
            <li class="active"><a href="http://nsfwpics.pw">1</a></li>
            @for (int i = 1; i <= 10; i++)
            {
                <li class="waves-effect" id="@i"><a href="./@i">@i</a></li>
            }
        </ul>
    </div>

    <p class="hide">{{ url }}</p>
    @for (int i =1; i <= 10; i++)
    {
        <p class="hide">@Model.List()[i].Uri</p>
    }


    <br />
    <div class="container center-align">
        @if (Model.Id == 1 || Model.Id == 0)
        {
            @for (int i = (Model.Id ); i < (Model.Id + 10); i++)
            {
                <div class="row z-depth-5" id="content_element">
                    <span id="h" class="col left ">
                        <a href="/img/view/@(i+1)" id="img_index">#@Model.List()[i].Id </a>
                    </span>
                    <span id="feed" class="col right s-8">
                        <span id="points" >{{ points }}</span>
                        <button v-on:click="points += 1" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">thumb_up</i></button>
                        <button v-on:click="points -= 1" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></button>
                    </span>
                    <br /><br />
                    <img class="materialboxed col center-align s-12" src="@Model.List()[i].Uri"/>
                    <br />
                    <span id="img_tags">
                        By @Model.List()[i].Author at @Model.List()[i].Date
                    </span>
                    <br />
                </div>
                <br /><br /><br />
                @if (i == 5)
                {
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle"
                         style="display:block; text-align:center;"
                         data-ad-layout="in-article"
                         data-ad-format="fluid"
                         data-ad-client="ca-pub-3487236759504365"
                         data-ad-slot="6342869467"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                }
            }
        }
        else
        {
            @for (int i = (Model.Id * 10 - 9); i < (Model.Id * 10); i++)
            {
                    <div class="row z-depth-5" id="content_element">
                        <span id="h" class="col left ">
                            <a href="/img/view/@i">#@Model.List()[i - 1].Id</a>
                        </span>
                        <span id="feed" class="col right">
                            <span id="points">{{ points }}</span>
                            <button v-on:click="points += 1" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">thumb_up</i></button>
                            <button v-on:click="points -= 1" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></button>
                        </span>
                        <br /><br />
                        <img class="materialboxed col center-align " src="@Model.List()[i-1].Uri" />
                        <br />
                        <span id="img_tags">
                            By @Model.List()[i].Author at @Model.List()[i].Date
                        </span>
                        <br />
                    </div>
                <br /><br /><br />
            }
        }
    </div>
    <div class="row ">
        <ul class="pagination center-align ">
            <li class="active"><a href="http://nsfwpics.pw">1</a></li>
            @for (int i = 2; i <= 11; i++)
            {
                <li class="waves-effect"><a href="./@i">@i</a></li>
            }
        </ul>
    </div>
    <br />
</div>
