@page  "{id:int?}"
@model IndexModel
@using System.IO;
@{
    ViewData["Title"] = "Home page";
}
<div id="app">
    <br />
    <!--PAGINATION-->
    <div class="row ">
        @if (Model.Id == 0 || Model.Id == 1)
        {
            <ul class="pagination center-align ">
                @for (int i = 1; i <= 7; i++)
                {
                    <li class="waves-effect" id="@i"><a href="./@i">@i</a></li>
                }
                <li>...</li>
                <li class="waves-effect"><a href="./1051">1051</a></li>
                <li class="disabled"><a href="http://nsfwpics.pw/@(Model.Id+2)"><i class="material-icons">chevron_right</i></a></li>
            </ul>
         }else if (Model.Id == 1051)
        {
            <ul class="pagination center-align ">
                <li class="disabled"><a href="http://nsfwpics.pw/@(Model.Id-1)"><i class="material-icons">chevron_left</i></a></li>
                <li class="waves-effect"><a href="./1051">1051</a></li>
            </ul>
        }
        else
        {

            <ul class="pagination center-align ">
                <li class="disabled"><a href="http://nsfwpics.pw/@(Model.Id-1)"><i class="material-icons">chevron_left</i></a></li>
                @for (int i = Model.Id; i <= (Model.Id + 7); i++)
                {
                    <li class="waves-effect" id="@i"><a href="./@i">@i</a></li>
                }
                <li>...</li>
                <li class="waves-effect"><a href="./1051">1051</a></li>
                <li class="disabled"><a href="http://nsfwpics.pw/@(Model.Id+1)"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        }
    </div>
    <!--PAGINATION END-->
    <!--BYPASS TO GET DATA FROM DB CORECTLY-->
    <p class="hide">{{ url }}</p>
    @for (int i = 1; i <= 10; i++)
    {
        <p class="hide">@Model.List()[i].Uri</p>
    }
    <!--BYPASS END-->
    <br />
    <!--CONTENT FOR MAIN PAGE-->
    <div class="container center-align">
        @if (Model.Id == 1 || Model.Id == 0)
        {
            @for (int i = (Model.Id); i < (Model.Id + 10); i++)
            {
                <div class="row z-depth-5" id="content_element">
                    <span id="h" class="col left ">
                        <a href="/img/view/@(i+1)" id="img_index">#@Model.List()[i].Id </a>
                    </span>
                    <span id="feed" class="col right s-8">
                        <span id="points">{{ points }}</span>
                        <button v-on:click="points += 1" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">thumb_up</i></button>
                        <button v-on:click="points -= 1" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></button>
                    </span>
                    <br /><br />
                    <img class="materialboxed col center-align s-12" src="@Model.List()[i].Uri" alt="@Model.List()[i].Uri" />
                    <br />
                    <span id="img_tags">
                        By @Model.List()[i].Author at @Model.List()[i].Date
                    </span>
                    <br />
                </div>
                <br /><br />
                <!--Exo network ads-->
                @if (i == 4)
                {
                    <p id="img_tags" class="center-align">Advertisement</p>
                    <script type="text/javascript">
                        var ad_idzone = "2935168",
                            ad_width = "300",
                            ad_height = "250";
                    </script>
                    <script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
                    <noscript><a href="https://main.exosrv.com/img-click.php?idzone=2935168" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=2935168&output=img&type=300x250" width="300" height="250"></a></noscript>
                    <br /><br /><br />
                }
            }
        }
        else
        {
            <!--CONTENT FOR NEXT PAGES AFTER FIRST ONE-->
            @for (int i = 0; i < 10; i++)
            {

                <div class="row z-depth-5" id="content_element">
                    <span id="h" class="col left ">
                        <a href="/img/view/@Model.List()[i].Id">#@Model.List()[i].Id</a>
                    </span>
                    <span id="feed" class="col right">
                        <span id="points">{{ points }}</span>
                        <button v-on:click="points += 1" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">thumb_up</i></button>
                        <button v-on:click="points -= 1" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></button>
                    </span>
                    <br /><br />
                    <img class="materialboxed col center-align " src="@Model.List()[i].Uri" alt="@Model.List()[i].Uri" />
                    <br />
                    <span id="img_tags">

                    </span>
                    <br />
                </div>
                <br /><br />
                @if (i % 4 == 0)
                {
                    <p id="img_tags" class="center-align">Advertisement</p>
                    <script type="text/javascript">
                        var ad_idzone = "2935168",
                            ad_width = "300",
                            ad_height = "250";
                    </script>
                    <script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
                    <noscript><a href="https://main.exosrv.com/img-click.php?idzone=2935168" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=2935168&output=img&type=300x250" width="300" height="250"></a></noscript>
                    <br /><br /><br />
                }
            }
        }
    </div>
    <!--CONTETNT END-->
    <!--PAGINATION-->
    <div class="row ">
        @if (Model.Id == 0 || Model.Id == 1)
        {
            <ul class="pagination center-align ">
                @for (int i = 1; i <= 10; i++)
                {
                    <li class="waves-effect" id="@i"><a href="./@i">@i</a></li>
                }
                <li>...</li>
                <li class="waves-effect"><a href="./1051">1051</a></li>
                <li class="disabled"><a href="http://nsfwpics.pw/@(Model.Id+2)"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        }else if (Model.Id == 1051)
        {
            <ul class="pagination center-align ">
                <li class="disabled"><a href="http://nsfwpics.pw/@(Model.Id-1)"><i class="material-icons">chevron_left</i></a></li>
                <li class="waves-effect"><a href="./1051">1051</a></li>
            </ul>
        }
        else
        {
            <ul class="pagination center-align ">
                <li class="disabled"><a href="http://nsfwpics.pw/@(Model.Id-1)"><i class="material-icons">chevron_left</i></a></li>
                @for (int i = Model.Id; i <= (Model.Id + 7); i++)
                {
                    <li class="waves-effect" id="@i"><a href="./@i">@i</a></li>
                }
                <li>...</li>
                <li class="waves-effect"><a href="./1051">1051</a></li>
                <li class="disabled"><a href="http://nsfwpics.pw/@(Model.Id+1)"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        }
    </div>
    <!--PAGINATION END-->
    <br />
    <div class="center-align">
        <p id="img_tags" class="center-align">Advertisement</p>
        <!--Exo network ads-->
        <script type="text/javascript">
            var ad_idzone = "2935150",
                ad_width = "300",
                ad_height = "50";
        </script>
        <script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
        <noscript><a href="https://main.exosrv.com/img-click.php?idzone=2935150" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=2935150&output=img&type=300x50" width="300" height="50"></a></noscript>
        <br /><br />
    </div>
</div>
