@page  "{id:int?}"
@model IndexModel
@using System.IO;
@{
    ViewData["Title"] = "Home page";
}
<div id="app">
    <br />
    <div class="row ">
        <ul class="pagination center-align ">
            <li class="active"><a href="./">1</a></li>
            @for (int i = 2; i <= 10; i++)
            {
            <li class="waves-effect"><a href="./@i">@i</a></li>
            }
        </ul>
    </div>
    <br />
    @*Display elements from db*@
    @* @for (int i = 0; i < 10; i++)
        {

            @foreach (var item in Model.List())
            {
                @Html.DisplayFor(modelItem => item[i])<br />
                <br />
            }
        }*@
    <div class="container center-align">
        @if (Model.Id == 1 || Model.Id == 0)
        {        
            @for (int i = (Model.Id +1); i <= (Model.Id + 10); i++)
            {
                <div class="row z-depth-5" id="content_element">
                    <span id="h" class="col left ">
                    <a href="/img/view/@i" >#@i</a>
                    </span>
                    <span id="feed" class="col right">
                        <span id="points">{{ points }}</span>                  
                        <button v-on:click="points += 1" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">thumb_up</i></button>
                        <button v-on:click="points -= 1" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></button>                    
                    </span>
                    <br /><br />
                    <img class="materialboxed col center-align " src="@String.Format($"http://185.28.102.194/img/{i}.png")" />
                    <br /><br /><br /><br />
                </div>
                <br /><br /><br />
            }
        }
        else{ 
            @for (int i = (Model.PageIncrement); i <= (Model.PageIncrement + 10); i++)
            {
                <div class="row z-depth-5" id="content_element">
                    <span id="h" class="col left ">
                    <a href="/img/view/@i" >#@i</a>
                    </span>
                    <span id="feed" class="col right">
                        <span id="points">{{ points }}</span>                  
                        <button v-on:click="points += 1" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">thumb_up</i></button>
                        <button v-on:click="points -= 1" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></button>                    
                    </span>
                    <br /><br />
                    <img class="materialboxed col center-align " src="@String.Format($"http://185.28.102.194/img/{i}.png")" />
                    <br /><br /><br /><br />
                </div>
                <br /><br /><br />
            }
       }
    </div>
    <div class="row ">
        <ul class="pagination center-align ">
            <li class="active"><a href="/">1</a></li>
            @for (int i = 2; i <= 10; i++)
            {
                <li class="waves-effect"><a href="./@i">@i</a></li>
            }
        </ul>
    </div>
    <br />
</div>
