@page  "{id:int?}"
@model IndexModel
@using System.IO;
@{
    ViewData["Title"] = "Home page";
}
<div id="app">
    <br />
    <div class="row ">
        <ul class="pagination center-align ">
            <li class="active"><a href="./">1</a></li>
            @for (int i = 1; i <= 10; i++)
            {
                <li class="waves-effect" id="@i"><a href="./@i">@i</a></li>
            }
        </ul>
    </div>

    <p>{{ url }}</p>
    @for (int i =1; i <= 10; i++)
    {
        <p class="hide">@Model.List()[i].Uri</p>
    }


    <br />
    <div class="container center-align">
        @if (Model.Id == 1 || Model.Id == 0)
        {
            @for (int i = (Model.Id ); i < (Model.Id + 10); i++)
            {
                <div class="row z-depth-5" id="content_element">
                    <span id="h" class="col left ">
                        <a href="/img/view/@(i+1)">#@Model.List()[i].Id </a>
                    </span>
                    <span id="feed" class="col right s-8">
                        <span id="points" >{{ points }}</span>
                        <button v-on:click="points += 1" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">thumb_up</i></button>
                        <button v-on:click="points -= 1" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></button>
                    </span>
                    <br /><br />
                    <img class="materialboxed col center-align s-12" src="@Model.List()[i].Uri"/>
                    <br /><br /><br /><br />
                </div>
                <br /><br /><br />
            }
        }
        else
        {
            @for (int i = (Model.Id * 10 - 9); i < (Model.Id * 10); i++)
            {
                <div class="row z-depth-5" id="content_element">
                    <span id="h" class="col left ">
                        <a href="/img/view/@i">#@Model.List()[i-1].Id</a>
                    </span>
                    <span id="feed" class="col right">
                        <span id="points">{{ points }}</span>
                        <button v-on:click="points += 1" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">thumb_up</i></button>
                        <button v-on:click="points -= 1" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></button>
                    </span>
                    <br /><br />
                    <img class="materialboxed col center-align " src="@Model.List()[i-1].Uri"/>
                    <br /><br /><br /><br />
                </div>
                <br /><br /><br />
            }
        }
    </div>
    <div class="row ">
        <ul class="pagination center-align ">
            <li class="active"><a href="/">1</a></li>
            @for (int i = 2; i <= 11; i++)
            {
                <li class="waves-effect"><a href="./@i">@i</a></li>
            }
        </ul>
    </div>
    <br />
</div>
