@page "{id:int?}"
@model NSFWpics.Pages.RandomModel
@{
    ViewData["Title"] = "Random";
}

<br />
<div id="app">
    <div class="container center-align">
        <!--Exo network ads-->
        <p id="img_tags" class="center-align">Advertisement</p>
        <script type="text/javascript">
            var ad_idzone = "2935176",
                ad_width = "300",
                ad_height = "50";
        </script>
        <script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
        <noscript><a href="https://main.exosrv.com/img-click.php?idzone=2935176" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=2935176&output=img&type=300x50" width="300" height="50"></a></noscript>
        <div class="row z-depth-5" id="content_element">
            <span id="h" class="col left ">
                <a href="https://nsfwpics.pw/img/view/@Model.Image.Id">#@Model.Image.Id</a>

            </span>
            <span id="feed" class="col right s-8">
                <span id="points_@Model.Image.Id" class="points">@Model.Image.Points</span>
                <button onclick="plus(@Model.Image.Id)" class="btn-floating btn-large waves-effect waves-light light-green" id="button_plus_@Model.Image.Id"><i class="material-icons">thumb_up</i></button>
                <button onclick="minus(@Model.Image.Id)" class="btn-floating btn-large waves-effect waves-light red" id="button_minus_@Model.Image.Id"><i class="material-icons">thumb_down</i></button>
            </span>
            <br /><br />
            @{
					 string link = Model.Image.Uri.ToString();
					 string extension = link.Substring(link.Length - 3);
					 if (extension == "png" || extension == "peg" || extension == "jpg" || extension == "gif")
					 {
                    <img class="materialboxed col center-align s-12" src="@Model.Image.Uri" alt="Photo from link @Model.Image.Uri" id="photo_no_@Model.Image.Id" name="photo" />
					 }
					 else if (extension == "mp4" || extension == "ebm")
					 {
                    <video src="@Model.Image.Uri" alt="Video from link @Model.Image.Uri" id="my-video" controls loop autoplay muted/>
                }

            }
            <br />
            <span id="img_tags">
                By @Model.Image.Author at @Model.Image.Date
            </span>
            <br />
        </div>
        <br /><br />
        <!--Exo network ads-->
        <p id="img_tags" class="center-align">Advertisement</p>
        <script type="text/javascript">
            var ad_idzone = "2935150",
                ad_width = "300",
                ad_height = "50";
        </script>
        <script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
        <noscript><a href="https://main.exosrv.com/img-click.php?idzone=2935150" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=2935150&output=img&type=300x50" width="300" height="50"></a></noscript>
    </div>
    <!--DISQUS-->
    <div id="disqus_thread" class="container"></div>
    <script>

        var disqus_config = function () {
			 this.page.url = `https://nsfwpics.pw/${id}`;
			 /**/
			 this.page.identifier = `${id}`;
        /**/
        };
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://nsfwpics.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
</br></br>


